/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

/* Your code starts here! */

/* Navbar and Background*/
body {
	background: black;
}

p {
	line-height: 1.3;
}

.container {
	background-color: white;
	margin: 0 auto;
	padding-bottom: 75px;
	width: 55vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.line {
	background: black;
	height: 1px;
	width: 85%;
	margin: 0 auto;
}

header {
	background-color: white;
	padding: 24px 0;
	width: 55vw;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 999;
}

header img {
	margin-right: 55px;
}

nav {
	width: 60%;
	margin-left: 45px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav > a {
	font-size: 0.88rem;
	text-decoration: none;
	color: grey;
	opacity: 0.7;
	transition: all 1.5s;
}

nav > a:hover {
	color: #1c40b8;
	transform: scale(1.2);
}

/* Services Section */
.section__services {
	width: 85%;
	margin: 86px 0 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section__services h2 {
	font-size: 1.6em;
}

.section__services img {
	margin-bottom: 40px;
}

.section__services p {
	text-align: justify;
}

/* Cards Section */
.section__cards {
	margin-top: 35px;
	width: 85%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	border: 2px solid black;
	width: 48%;
	margin-bottom: 35px;
	background-color: rgb(235, 235, 235);
}

.card p {
	margin-bottom: 15px;
}

.card button {
	width: 150px;
	padding: 10px 40px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
}
/*Footer*/

.section__facts {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	width: 85%;
	height: auto;
}
.facts__left {
	display: flex;
	flex-direction: column;
	width: 45%;
	justify-content: space-evenly;
	height: 100%;
}

.facts__left ul {
	margin-top: 15px;
}
.facts__left li {
	list-style: square;
	/* line-height: 1.2; */
	margin-left: 20px;
	margin-top: 10px;
}
footer > p {
	align-self: center;
	font-size: 0.9rem;
	margin-top: 75px;
}
